h2, h3, div, form {
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    width: 150px;
}

th {
    height: 30px;
}

td {
    border-radius: 10px;
    height: 30px;
}

img {
    height: 400px;
    width: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}