<!doctype html>
<head>
	<title>Image Color Palette Generator</title>
	<link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
	<h2 style="text-align: center;">Upload an image</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			  <div>{{ message }}</div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
	</p>

	{% if filename %}
		<img src="{{ url_for('display_image', filename=filename) }}" class="center">
	{% endif %}

	{% if colors %}
		<h3>All colors from the picture are listed below:</h3>
		{% set colors_list = colors.items() | list %}
		{% set colors_length = colors | length %}
		{% set color_count = namespace(value=0) %}

		<table align="center">
			{% for _ in range(((colors_length // 10) + (colors_length % 10 > 0)) | round): %}

				<tr>
<!--					{{ color_count.value }}-->
					{% for color in colors_list[color_count.value:color_count.value+10]: %}
						<th>{{ color[0].capitalize() }}</th>
					{% endfor %}
				</tr>
				<tr>
					{% for color in colors_list[color_count.value:color_count.value+10]: %}
						<td bgcolor="{{color[1]}}"></td>
					{% endfor %}
				</tr>

				{% set color_count.value = color_count.value + 10 %}
			{% endfor %}
		</table>
	{% endif %}

	<br/>
	<form method="post" action="/" enctype="multipart/form-data" style="text-align:center;">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
