<!doctype html>
<head>
	<title>Image Color Palette Generator</title>
	<link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
	<h2 style="text-align: center;">Upload an image</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			  <div>{{ message }}</div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
	</p>

	{% if filename %}
		<img src="{{ url_for('display_image', filename=filename) }}" class="center">
	{% endif %}

	{% if colors %}
		<h3>10 colors from the picture are listed below:</h3>
		<table align="center">
			<tr>
				{% for color in colors: %}
					<th>{{ color.capitalize() }}</th>
				{% endfor %}
			</tr>
			<tr>
				{% for color in colors: %}
					<td bgcolor="{{colors[color]}}"></td>
				{% endfor %}
			</tr>
		</table>
	{% endif %}

	<br/>
	<form method="post" action="/" enctype="multipart/form-data" style="text-align:center;">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
