<!doctype html>
<head>
	<title>Image Color Palette Generator</title>
</head>
<body>
	<h2>Upload an image</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>

	{% if filename %}
		<img src="{{ url_for('display_image', filename=filename) }}">
	{% endif %}

	{% if colors %}
		<h3>10 colors from the picture are listed below:</h3>
		{% for color in colors: %}
			<ul>
				<li>{{ color }}</li>
			</ul>
		{% endfor %}
	{% endif %}

	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
